* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
 * ========================================================================== */
/**
 * * Remove the margin in all browsers.
 * */
body {
  margin: 0;
}

/**
 * * Render the `main` element consistently in IE.
 * */
main {
  display: block;
}

/**
 * * Correct the font size and margin on `h1` elements within `section` and
 * * `article` contexts in Chrome, Firefox, and Safari.
 * */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * * 1. Add the correct box sizing in Firefox.
 * * 2. Show the overflow in Edge and IE.
 * */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * * 1. Correct the inheritance and scaling of font size in all browsers.
 * * 2. Correct the odd `em` font sizing in all browsers.
 * */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
 * ========================================================================== */
/**
 * * Remove the gray background on active links in IE 10.
 * */
a {
  background-color: transparent;
}

/**
 * * 1. Remove the bottom border in Chrome 57-
 * * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 * */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * * Add the correct font weight in Chrome, Edge, and Safari.
 * */
b,
strong {
  font-weight: bolder;
}

/**
 * * 1. Correct the inheritance and scaling of font size in all browsers.
 * * 2. Correct the odd `em` font sizing in all browsers.
 * */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * * Add the correct font size in all browsers.
 * */
small {
  font-size: 80%;
}

/**
 * * Prevent `sub` and `sup` elements from affecting the line height in
 * * all browsers.
 * */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
 * ========================================================================== */
/**
 * * Remove the border on images inside links in IE 10.
 * */
img {
  border-style: none;
}

/* Forms
 * ========================================================================== */
/**
 * * 1. Change the font styles in all browsers.
 * * 2. Remove the margin in Firefox and Safari.
 * */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * * Show the overflow in IE.
 * * 1. Show the overflow in Edge.
 * */
button,
input {
  overflow: visible;
}

/**
 * * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * * 1. Remove the inheritance of text transform in Firefox.
 * */
button,
select {
  text-transform: none;
}

/**
 * * Correct the inability to style clickable types in iOS and Safari.
 * */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * * Remove the inner border and padding in Firefox.
 * */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * * Restore the focus styles unset by the previous rule.
 * */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * * Correct the padding in Firefox.
 * */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * * 1. Correct the text wrapping in Edge and IE.
 * * 2. Correct the color inheritance from `fieldset` elements in IE.
 * * 3. Remove the padding so developers are not caught out when they zero out
 * *    `fieldset` elements in all browsers.
 * */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 * */
progress {
  vertical-align: baseline;
}

/**
 * * Remove the default vertical scrollbar in IE 10+.
 * */
textarea {
  overflow: auto;
}

/**
 * * 1. Add the correct box sizing in IE 10.
 * * 2. Remove the padding in IE 10.
 * */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * * Correct the cursor style of increment and decrement buttons in Chrome.
 * */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * * 1. Correct the odd appearance in Chrome and Safari.
 * * 2. Correct the outline style in Safari.
 * */
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * * Remove the inner padding in Chrome and Safari on macOS.
 * */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * * 1. Correct the inability to style clickable types in iOS and Safari.
 * * 2. Change font properties to `inherit` in Safari.
 * */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
 * ========================================================================== */
/* * Add the correct display in Edge, IE 10+, and Firefox.
 * */
details {
  display: block;
}

/* * Add the correct display in all browsers.
 * */
summary {
  display: list-item;
}

/* Misc
 * ========================================================================== */
/**
 * * Add the correct display in IE 10+.
 * */
template {
  display: none;
}

/**
 * * Add the correct display in IE 10.
 * */
[hidden] {
  display: none;
}

/* Palette */
/* Text color */
/* State colors */
.app-cnt {
  font-family: "Open Sans", sans-serif;
  font-variant-ligatures: no-common-ligatures;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-cnt strong, .app-cnt .strong {
  font-weight: 600 !important;
}
.app-cnt i {
  position: relative;
  font-size: 17px;
}
.app-cnt a {
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.app-cnt a:hover, .app-cnt a:active, .app-cnt a:focus {
  outline: none !important;
}
.app-cnt ul, .app-cnt li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.input-field {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  box-shadow: none !important;
  border: none;
  background-color: transparent !important;
  outline: none;
}

.display-none {
  display: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-cnt .app-inner {
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 30px;
  background-color: #5e6278;
}
.app-cnt .app-inner .test-form {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 4px;
}
.app-cnt .app-inner .test-form .test-inner {
  display: flex;
  height: 100%;
  padding: 20px;
}
.app-cnt .app-inner .test-form .test-inner.ui-position-h-center {
  justify-content: center;
}
.app-cnt .app-inner .test-form .test-inner.ui-position-h-end {
  justify-content: end;
}
.app-cnt .app-inner .test-form .test-inner.ui-position-v-center {
  align-items: center;
}
.app-cnt .app-inner .test-form .test-inner.ui-position-v-end {
  align-items: end;
}
.app-cnt .app-inner .test-form .test-inner .test-object-cnt.width-liquid {
  width: 100%;
}
.app-cnt .app-inner .test-form .test-inner .test-object-cnt.width-400 {
  width: 400px;
}
.app-cnt .app-inner .test-form .test-inner .test-object-cnt.width-600 {
  width: 600px;
}
.app-cnt .app-inner .test-form .test-inner .test-object-cnt .test-label {
  padding: 0 5px;
}

.cmp-selector .selector-inner {
  position: relative;
  width: 100%;
}
.cmp-selector .selector-inner .selector-input-cnt .input-field-cnt {
  background-color: #F3F6F9;
  border-radius: 4px;
}
.cmp-selector .selector-inner .selector-input-cnt .input-field-cnt .input-field {
  cursor: pointer;
}
.cmp-selector .selector-inner .selector-input-cnt .input-field-cnt .input-dropdown-trigger {
  height: 24px;
  width: 24px;
  margin: 0 6px;
  cursor: pointer;
}
.cmp-selector .selector-inner .selector-dropdown-cnt {
  position: relative;
}
.cmp-selector .selector-inner .selector-dropdown-cnt:not(.ui-selector-dropdown-expanded) {
  display: none;
}
.cmp-selector .selector-inner .selector-dropdown-cnt .dropdown-inner {
  position: absolute;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  overflow: hidden;
}
.cmp-selector .selector-inner .selector-dropdown-cnt .dropdown-inner .utils-cnt {
  padding: 10px;
}
.cmp-selector .selector-inner .selector-dropdown-cnt .dropdown-inner .utils-cnt .search-field-cnt {
  background-color: #F3F6F9;
  border-radius: 4px;
}
.cmp-selector .selector-inner .selector-dropdown-cnt .dropdown-inner .utils-cnt .search-field-cnt .search-icon {
  height: 24px;
  width: 24px;
  margin: 0 6px;
  cursor: pointer;
}
.cmp-selector .selector-inner .selector-dropdown-cnt .dropdown-inner .utils-cnt .toolbar-cnt {
  margin-top: 10px;
}
.cmp-selector .selector-inner .selector-dropdown-cnt .dropdown-inner .utils-cnt .toolbar-cnt .btn-item {
  height: 30px;
  width: 30px;
  color: #7E8299;
  background-color: #FFFFFF;
  border: 1px solid #E4E6EF;
  border-radius: 4px;
  cursor: pointer;
}
.cmp-selector .selector-inner .selector-dropdown-cnt .dropdown-inner .utils-cnt .toolbar-cnt .btn-item.ui-item-active {
  color: rgba(255, 255, 255, 0.75);
  border-color: #3699FF;
  background-color: #3699FF;
}
.cmp-selector .selector-inner .selector-dropdown-cnt .dropdown-inner .utils-cnt .toolbar-cnt .btn-item:hover, .cmp-selector .selector-inner .selector-dropdown-cnt .dropdown-inner .utils-cnt .toolbar-cnt .btn-item:focus {
  border-color: #D1D3E0;
  background-color: #D1D3E0;
}
.cmp-selector .selector-inner .selector-dropdown-cnt .dropdown-inner .utils-cnt .toolbar-cnt .btn-group {
  display: flex;
}
.cmp-selector .selector-inner .selector-dropdown-cnt .dropdown-inner .utils-cnt .toolbar-cnt .btn-group .btn-item {
  border-width: 1px 0;
  border-radius: 0;
}
.cmp-selector .selector-inner .selector-dropdown-cnt .dropdown-inner .utils-cnt .toolbar-cnt .btn-group .btn-item:first-child {
  border-width: 1px 0 1px 1px;
  border-radius: 4px 0 0 4px;
}
.cmp-selector .selector-inner .selector-dropdown-cnt .dropdown-inner .utils-cnt .toolbar-cnt .btn-group .btn-item:last-child {
  border-width: 1px 1px 1px 0;
  border-radius: 0 4px 4px 0;
}
.cmp-selector .selector-inner .selector-dropdown-cnt .dropdown-inner .utils-cnt .toolbar-cnt .btn-group .btn-item:only-child {
  border-width: 1px;
  border-radius: 4px;
}
.cmp-selector .selector-inner .selector-dropdown-cnt .dropdown-inner .results-cnt {
  border-top: 1px solid #E4E6EF;
  padding: 10px;
}
.cmp-selector .selector-inner .selector-dropdown-cnt .dropdown-inner .results-cnt .result-item-cnt.ui-selector-no-results {
  display: flex;
  min-height: 40px;
  justify-content: center;
  align-items: center;
}
.selections-badge-cnt .selections-counter-display {
  height: 24px;
  width: 24px;
  margin-left: 6px;
  color: rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  background-color: #7E8299;
  cursor: pointer;
}
.ux-popover-trigger {
  user-select: none;
  position: relative;
}

.ui-popover {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  padding-top: 10px;
}
.ui-popover .inner {
  position: relative;
  left: -25%;
}
.ui-popover:not([data-shown="1"]) {
  display: none;
}

.bla-bla-bla {
  background-color: #17A2B8;
  border: #187DE4;
  padding: 10px;
}

/*# sourceMappingURL=app_theme.css.map */
