<script id="test-template" type="text/x-handlebars-template">
    <option value="{{ cosas }}" selected="selected"></option>
</script>

<script id="another-template" type="text/x-handlebars-template">
	<p>Buenos días {{ nombre }}</p>
</script>
