// FILE: <_main.sass>

.app-cnt
	.app-inner
		display: flex
		min-height: 100vh
		width: 100%
		padding: 30px
		background-color: $color-dark-default

		.test-form
			width: 100%
			background-color: $color-white
			border-radius: $theme-radius

			.test-inner
				display: flex
				height: 100%
				padding: 20px

				.test-object-cnt
					&.width-liquid
						width: 100%

					&.width-450
						width: 450px

					&.width-600
						width: 600px

					.test-label
						padding: 0 5px