// FILE <_selector-component.sass>


.cmp-selector
    .selector-inner
        position: relative
        width: 100%

        .selector-input-cnt
            .input-inner

                .input-field-cnt
                    background-color: $color-gray-100
                    border-radius: $theme-radius

                    .input-field
                        cursor: pointer

                    .badge-selections-cnt
                        .badge-counter-display
                            height: 24px
                            width: 24px
                            margin-left: $theme-general-separation
                            color: $color-white-75
                            border-radius: 50%
                            background-color: $color-gray
                            cursor: pointer

                        .badge-viewer-cnt
                            .badge-list

                    .input-dropdown-trigger
                        height: 24px
                        width: 24px
                        margin: 0 $theme-general-separation
                        cursor: pointer

        .selector-dropdown-cnt
            position: relative

            &:not(.ui-selector-dropdown-expanded)
                display: none


            .dropdown-inner
                position: absolute
                width: 100%
                background-color: $color-white
                border-radius: $theme-radius
                @include theme-shadow
                overflow: hidden

                .utils-cnt
                    padding: $theme-general-padding

                    .search-field-cnt
                        background-color: $color-gray-100
                        border-radius: $theme-radius

                        .input-field
                        // Overwrite generic input declared in <_forms>

                        .search-icon
                            height: 24px
                            width: 24px
                            margin: 0 $theme-general-separation
                            cursor: pointer

                    .toolbar-cnt
                        margin-top: $theme-general-padding

                        .btn-item
                            height: 30px
                            width: 30px
                            color: $color-gray
                            background-color: $color-white
                            border: 1px solid $color-gray-300
                            border-radius: $theme-radius
                            cursor: pointer

                            &.ui-item-active
                                color: $color-white-75
                                border-color: $color-blue
                                background-color: $color-blue

                            &:hover, &:focus
                                border-color: $color-gray-400
                                background-color: $color-gray-400

                        .btn-group
                            display: flex

                            .btn-item
                                border-width: 1px 0
                                border-radius: 0

                                &:first-child
                                    border-width: 1px 0 1px 1px
                                    border-radius: $theme-radius 0 0 $theme-radius

                                &:last-child
                                    border-width: 1px 1px 1px 0
                                    border-radius: 0 $theme-radius $theme-radius 0

                                &:only-child
                                    border-width: 1px
                                    border-radius: $theme-radius

                .results-cnt
                    border-top: 1px solid $color-gray-300
                    padding: $theme-general-padding

                    .result-item-cnt

                        &.ui-selector-no-results
                            display: flex
                            min-height: 40px
                            justify-content: center
                            align-items: center

                    .grouped-results
                        .result-item-cnt