// FILE <_selector-component.sass>

.cmp-selector
	.selector-inner
		position: relative
		width: 100%


	.selector-input-cnt
		.input-inner
			border-radius: $theme-radius
			background-color: $color-gray-100

		.input-field
			// Overwrite generic input properties declared in <_forms>
			cursor: pointer


	.selector-dropdown-cnt
		position: relative

		&:not(.ui-selector-dropdown-expanded)
			display: none

		.dropdown-inner
			position: absolute
			width: 100%
			border-radius: $theme-radius
			background-color: $color-white
			@include theme-shadow


	.dropdown-list-cnt
		display: flex
		flex-direction: column
		padding: $theme-general-padding 0

		.list-item
			padding: 0 $theme-general-padding


	.tools-cnt
		//border-bottom: 1px solid $color-gray-400


	.search-filter-cnt
		padding: 0 $theme-general-padding

		.filter-inner
			border-radius: $theme-radius
			background-color: $color-gray-100 !important

		.input-field
		// Overwrite generic input properties declared in <_forms>


	.view-mode-cnt
		padding: 0 $theme-general-padding


	.results-cnt
		border-top: 1px solid $color-gray-400

	.results-item-cnt

		.item-inner
			padding: ($theme-general-padding / 2)
			border-radius: $theme-radius

		&:not(.ui-no-results)
			.item-inner
				cursor: pointer
				&:hover
					background-color: $color-gray-200

		.item-check
			//margin-left: 2px

		&:not([data-recent="1"])
			.is-item-recent
				display: none

		&.ui-no-results
			display: flex
			justify-content: center
			align-items: center
			min-height: 50px
			color: $color-warning
			background-color: $color-light-warning
