
<!-- Read the file <UI_Instructions.md> for use parameters -->


<!-- Selector Main container -->

<script id="cmp-selector__main" type="text/x-handlebars-template">
	<div class="cmp-selector ux-selector-cnt">
		<div class="inner flex-column"></div>
	</div>
</script>


<!-- Selector Input & Dropdown containers -->

<script id="cmp-selector__input-cnt" type="text/x-handlebars-template">
	<div class="selector-input-cnt ux-selector-input">
		<div class="inner flex-center"></div>
	</div>
</script>

<script id="cmp-selector__dropdown-cnt" type="text/x-handlebars-template">
	<div class="selector-dropdown-cnt ux-selector-dropdown ui-selector-dropdown-expanded">
		<div class="inner"></div>
	</div>
</script>


<!-- Selector Input Addons -->

<script id="cmp-selector__input-dropdown-icon" type="text/x-handlebars-template">
	<div class="input-dropdown-icon">
		<i class="icon ml-5 mr-5">~</i>
	</div>
</script>


<!-- Selector Dropdown Tools wrappers -->

<script id="cmp-selector__tools-cnt" type="text/x-handlebars-template">
	<div class="tools-cnt ux-selector-tools-cnt dropdown-list-cnt p-10"></div>
</script>

<script id="cmp-selector__tools__search-filter" type="text/x-handlebars-template">
	<div class="search-filter ux-selector-search-filter list-item mb-10">
		<div class="inner flex-align-center"></div>
	</div>
</script>

<script id="cmp-selector__tools__view-mode" type="text/x-handlebars-template">
	<div class="view-mode list-item"></div>
</script>


<!-- Selector Dropdown Results wrappers -->

<script id="cmp-selector__results-cnt" type="text/x-handlebars-template">
	<div class="results-cnt">
		<div class="inner dropdown-list-cnt list-scrollable p-10"></div>
	</div>
</script>

<script id="cmp-selector__result-group" type="text/x-handlebars-template">
	<div class="result-group list-item ux-selector-group-item">
		<div class="inner">
			<div class="group-header"></div>
			<div class="group-content dropdown-list-cnt"></div>
		</div>
	</div>
</script>

<script id="cmp-selector__result-item" type="text/x-handlebars-template">
	<div class="result-item list-item ux-selector-result-item">
		<div class="inner"></div>
	</div>
</script>


<!-- Inputs -->

<script id="generics__input-field" type="text/x-handlebars-template">
	<input class="input-field" type="text" placeholder="{{ placeholder }}">
</script>


<!-- Buttons -->

<script id="generics__btn-toolbar" type="text/x-handlebars-template">
	<div class="btn-toolbar flex-justify-space-between"></div>
</script>

<script id="generics__btn-group" type="text/x-handlebars-template">
	<div class="btn-group"></div>
</script>

<script id="generics__btn" type="text/x-handlebars-template">
	<div class="btn">
		<i class="btn-icon">{{ icon }}</i>
	</div>
</script>


<!-- Badges -->

<script id="generics__badge" type="text/x-handlebars-template">
	<div class="badge badge-circle ml-5">
		<span class="badge-text">{{ text }}</span>
	</div>
</script>


<!-- Popovers -->

<script id="generics__popover" type="text/x-handlebars-template">
	<div class="popover ux-popover" data-shown="0">
		<div class="popover-inner bla-bla-bla"></div>
	</div>
</script>
